---
import ImageAstroComponent from "astro/components/Image.astro" 

interface Props {
  name: string,
  category: string,
  description: string,
  image: ImageMetadata,
  link: string,
  style?: string,
  tect1?: string,
  tect2?: string,
  tect3?: string,
  tect4?: string,
  tect5?: string,
  tect6?: string,
}

const { name, category, image, description, link, style, tect1, tect2, tect3, tect4, tect5, tect6  } = Astro.props

---

<div class=`flex flex-col lg:flex-row ${style} border lg:border-0 border-(--hairline) group w-full lg:h-48 card bg-(--panel)`>
      <ImageAstroComponent src={image} alt={'s'} class=`w-full aspect-video lg:w-1/2 object-cover ${style}`/>
      <div class="w-full lg:w-1/2">
        <a href={link} target="_blank" rel="noopener noreferrer" class="flex flex-col justify-center py-4 px-4 gap-4 lg:gap-0 xl:px-8 h-full relative">
          <div class="group-hover:absolute inset-0 gradient-radial z-[-1px]"></div>
          <p class="text-(--gold) text-sm">{category}</p>
          <h3 class="text-2xl">{name}</h3>
          <p class="font-mono m-auto text-sm">
            {description}
        </p>
        <div class="flex flex-col lg:flex-row gap-1">
          <div class="flex gap-1">
            <p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect1}</p>
            <p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect2}</p>
            {tect3 && <p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect3}</p>}
          </div>
          {tect4 && <span class="h-full border border-(--hairline)"></span>}
          <div class="flex gap-1">
            {tect4 && <p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect4}</p>}
            {tect5 &&<p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect5}</p>}
            {tect6 && <p class="border border-(--hairline) px-1 py-1 w-fit h-fit text-sm text-center font-mono text-(--text-muted)">{tect6}</p>}
          </div>
        </div>
      </a>
      </div>
    </div>