---
interface Props {
  name:string,
  description: string,
  border?:string,
  li1: string,
  li2: string,
  li3: string,
  li4: string,
  li5: string,
  li6?: string,
}

const { border, name, description, li1, li2, li3, li4, li5, li6 } = Astro.props;
---

<div class=`w-full lg:w-1/3 h-full ${border} border-(--hairline) lg:border-y-0 border-x-0 bg-(--panel) group relative`>
  <div class="group-hover:absolute inset-0 gradient-radial transition-discrete z-0"></div>
  <div
    class="w-full border-b border-(--hairline) flex flex-col justify-around items-center p-4 h-72 md:h-60"
  >
    <h2 class="text-2xl">{name}</h2>
    <p class="font-mono ">{description}</p>
    <button id="btn-start-project" data-service={name}
      class="border border-(--hairline) px-4 py-2 font-mono hover:text-(--gold) hover:border-(--gold) cursor-pointer z-10"
      >Iniciar Proyecto</button>
  </div>
  <div class="">
    <ul class="list-image-[url(../assets/check.svg)] list-inside flex flex-col justify-around p-4 gap-2 text-mono">
      <li>{li1}</li>
      <li>{li2}</li>
      <li>{li3}</li>
      <li>{li4}</li>
      <li>{li5}</li>
      {li6 && <li>{li6}</li>}
    </ul>
  </div>
</div>
